BODY
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
SELECT
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
INPUT
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
DIV
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
FORM
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
TEXTAREA
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
CENTER
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
OPTION
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
PRE
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}
BLOCKQUOTE
{
    FONT-SIZE: 9pt;
    COLOR: #555555;
	FONT-FAMILY: Arial;
}

.menu
{
	FONT-SIZE: 10pt;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial;
}

A:link
{
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}

A:visited
{
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}

A:active
{
    COLOR: #000000;
    TEXT-DECORATION: none
}

A:hover
{
	COLOR: #000000;
	TEXT-DECORATION: underline;
}

.title
{
	FONT-SIZE: 14pt;
	COLOR: #FFFFFF;
}

.menutitle
{
	FONT-SIZE: 14pt;
	COLOR: #FFFFFF;
	TEXT-ALIGN: center;
}

.pagetitle
{
	FONT-SIZE: 16pt;
	COLOR: #FFFFFF;
}

td.content
{
	BACKGROUND-COLOR: #E6E6E6;
	HEIGHT: 25;
}

TD
{
    LINE-HEIGHT: 140%
}
BODY
{
    SCROLLBAR-FACE-COLOR: #ffffff;
    SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa;
    SCROLLBAR-SHADOW-COLOR: #aaaaaa;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #aaaaaa;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
